<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Attendant</title>
	<link rel="stylesheet" href="css/app.css">
</head>
<body>
	<div id="app" v-if="config">
		<status-bar
			:version="config.version"
			:site-list="siteList"
			></status-bar>
		<div class="splitter">
			<div class="section1">
				<list-header>
					Valet Sites
				</list-header>
				<site-list
					:site-list="siteList"
					:active-site="activeSite"
					@activate="activateSite"
					></site-list>
			</div>
			<div class="section2">
				<site-details v-if="activeSite" :active-site="activeSite"></site-details>
			</div>
		</div>
	</div>

	<div id="holder">
		<div id="park-dir">
			Drop here to Park
		</div>
		<div id="link-dir">
			Drop here to Link
		</div>
	</div>

	<script>
		const body = document.querySelector('body');
		const holder = document.querySelector('#holder');
		const parkDir = document.querySelector('#holder #park-dir');
		const linkDir = document.querySelector('#holder #link-dir');

		body.ondragover = function(){
			body.classList.add('activeate-filedropper');
			return false;
		}

		holder.ondragleave = holder.ondragend = function(){
			body.classList.remove('activeate-filedropper');
			return false;
		}

		parkDir.ondrop = (e) => {
			e.preventDefault()
			for (let f of e.dataTransfer.files) {
				console.log('Parking: ', f.path)
				valet_park(f.path)
					.then(r => {
						console.log(r);
						body.classList.remove('activeate-filedropper');
						reloadBase();
					});
			}
			return false;
		}

		linkDir.ondrop = (e) => {
			e.preventDefault()
			for (let f of e.dataTransfer.files) {
				console.log('Linking: ', f.path)
				valet_link(f.path)
					.then(r => {
						console.log(r);
						body.classList.remove('activeate-filedropper');
						reloadBase();
					});
			}
			return false;
		}
	</script>

	<script src="js/base.js"></script>
	<script src="js/app.js"></script>
</body>
</html>